@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #000;
}